name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
        features: [ "default", "juce_audio_processors" ]
        include:
          - os: ubuntu-latest
            setup: |
              sudo apt update
              sudo apt install \
                libasound2-dev libjack-jackd2-dev \
                libfreetype-dev libfontconfig1-dev \
                libx11-dev libxcomposite-dev libxcursor-dev libxcursor-dev libxext-dev libxinerama-dev libxrandr-dev libxrender-dev

    steps:
      - uses: actions/checkout@v3
      - if: ${{ matrix.setup }}
        run: ${{ matrix.setup }}
      - name: Build
        run: cargo build --verbose --features "${{ matrix.features }}"
      - name: Run tests
        run: cargo test --verbose --features "${{ matrix.features }}"
